# Code pour la transformation de l'excel de tabels ardouin en base de données relationnelle 

Tout mes functions se trouve dans mon ficher functions.py

In [1]:
from functions import *

In [2]:
pwd

'/Users/Theo/dev/projet_ardouin/xl2sql'

In [3]:
ls -all

total 264
drwxr-xr-x   8 Theo  staff    256 Jun 13 13:51 ./
drwxr-xr-x  11 Theo  staff    352 Jun 10 08:40 ../
drwxr-xr-x   3 Theo  staff     96 Jun  9 11:49 .ipynb_checkpoints/
drwxr-xr-x   3 Theo  staff     96 Jun 13 13:51 __pycache__/
-rw-r--r--   1 Theo  staff    237 Jun 13 13:37 architecture.sql
-rw-r--r--   1 Theo  staff   2740 Jun 13 13:51 functions.py
-rw-r--r--   1 Theo  staff  86016 Jun 13 13:51 tome2.db
-rw-r--r--   1 Theo  staff  39569 Jun 13 13:50 transformation.ipynb

In [4]:
rm tome2.db

In [5]:
ls -all

total 96
drwxr-xr-x   7 Theo  staff    224 Jun 13 13:51 ./
drwxr-xr-x  11 Theo  staff    352 Jun 10 08:40 ../
drwxr-xr-x   3 Theo  staff     96 Jun  9 11:49 .ipynb_checkpoints/
drwxr-xr-x   3 Theo  staff     96 Jun 13 13:51 __pycache__/
-rw-r--r--   1 Theo  staff    237 Jun 13 13:37 architecture.sql
-rw-r--r--   1 Theo  staff   2740 Jun 13 13:51 functions.py
-rw-r--r--   1 Theo  staff  39569 Jun 13 13:50 transformation.ipynb

## Création de la table maitre

Dans cette étape, mon code créé un fiche master qui contient les noms uniques de toutes les entrées et la catégorie d'entrée (personne, bateau ou affaires) et attribue un identifiant unique à chaque entrée.

### J'ouvre les tables excel

In [6]:
personnes = Xlopen('1701-1705 Personnes')
bateaux = Xlopen('1701-1705 Bateaux')
affaires = Xlopen('1701-1705 Affaires diverses')

### Il faut renomer toutes les colonnes car leurs noms ne sont pas pratique pour restructurer la base

In [7]:
Xlclean(personnes)
Xlclean(bateaux)
Xlclean(affaires)

,masque,page,nom,contenu,tome,f1,f2,f3,f4,f5,...,f23,f24,f25,sserie,serie,ssserie,atl,mf,dateD,dateF
0,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",9,295,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
1,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",11,733,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31
2,Archives,239,Acadie,"Le Roi compte y envoyer un vaisseau, 1703.",5,64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
3,Archives,239,Acadie,Bégon reçoit 10000 livres à compte des envois ...,5,94,95.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
4,Archives,239,Acadie,"La flûte le Profond est rendu en Acadie, accom...",5,123,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Archives,306,Vivres,Le munitionnaire commence à payer ses dettes e...,8,21,47.0,69.0,79.0,81.0,...,NaN,NaN,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31
963,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",8,214,247.0,260.0,281.0,304.0,...,NaN,NaN,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31
964,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",9,13,31.0,62.0,63.0,68.0,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
965,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,9,296,379.0,492.0,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
966,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,11,65,67.0,69.0,171.0,300.0,...,NaN,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31

### Je rajoute une colone pour la catégorie

In [8]:
Type_column(personnes, "personnes")
Type_column(bateaux, "bateaux")
Type_column(affaires, "affaires")

,masque,page,nom,contenu,tome,f1,f2,f3,f4,f5,...,f24,f25,sserie,serie,ssserie,atl,mf,dateD,dateF,type
0,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",9,295,NaN,NaN,NaN,NaN,...,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31,A
1,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",11,733,NaN,NaN,NaN,NaN,...,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31,A
2,Archives,239,Acadie,"Le Roi compte y envoyer un vaisseau, 1703.",5,64,NaN,NaN,NaN,NaN,...,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31,A
3,Archives,239,Acadie,Bégon reçoit 10000 livres à compte des envois ...,5,94,95.0,NaN,NaN,NaN,...,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31,A
4,Archives,239,Acadie,"La flûte le Profond est rendu en Acadie, accom...",5,123,NaN,NaN,NaN,NaN,...,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Archives,306,Vivres,Le munitionnaire commence à payer ses dettes e...,8,21,47.0,69.0,79.0,81.0,...,NaN,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31,A
963,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",8,214,247.0,260.0,281.0,304.0,...,NaN,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31,A
964,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",9,13,31.0,62.0,63.0,68.0,...,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31,A
965,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,9,296,379.0,492.0,NaN,NaN,...,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31,A
966,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,11,65,67.0,69.0,171.0,300.0,...,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31,A

In [9]:
master = Clean_concat(personnes, bateaux, affaires)

### Je rajoute un identifiant unique

In [10]:
AddID(master)

                                  nom type     ID
0                        Acart, sieur    P     P2
1                   Achille, le frère    P     P3
2    Affaneur, sieur, de Conteneuille    P     P4
3                              Agoust    P     P7
4                       Agoust, sieur    P     P8
..                                ...  ...    ...
942                             Tulle    A  A1525
943                         Vénériens    A  A1580
945                         Vergeroux    A  A1549
949                          Villogne    A  A1569
950                            Vivres    A  A1572

[1588 rows x 3 columns]

## Creation d'une base de données vide 
L'architecture de ma base de données se situe dans le fichier architecture.sql

In [11]:
db_run = sqlite3.connect("tome2.db")
c = db_run.cursor()
db_run.close()

In [16]:
# Master 
'''
c.execute(
    """
    CREATE TABLE master (
        nom TEXT NOT NULL,
        type TEXT NOT NULL,
        ID TEXT NOT NULL,
        PRIMARY KEY(ID),
        FOREIGN KEY(nom) REFERENCES name(nom),
        FOREIGN KEY(type) REFERENCES category(type)
        );
     """
)'''

'\nc.execute(\n    """\n    CREATE TABLE master (\n        nom TEXT NOT NULL,\n        type TEXT NOT NULL,\n        ID TEXT NOT NULL,\n        PRIMARY KEY(ID),\n        FOREIGN KEY(nom) REFERENCES name(nom),\n        FOREIGN KEY(type) REFERENCES category(type)\n        );\n     """\n)'

In [13]:
#master.to_sql('master', db_run, if_exists='append', index=False)

1588