In [1]:
from functions import *

In [2]:
pwd

'/Users/Theo/dev/projet_ardouin/xl2sql'

## Importation des fiches excel concernées

In [3]:
personnes = xlopen('1701-1705 Personnes')
bateaux = xlopen('1701-1705 Bateaux')
affaires = xlopen('1701-1705 Affaires diverses')

In [4]:
personnes.head()

,Masque de saisie,Page Ardouin,Intitulé / analyse\nNom lieu\nNom personne\nAffaires diverses,Présentation du contenu,Ancienne cote\nN° de TOME,Folio 1,Folio 2,Folio 3,Folio 4,Folio 5,...,Folio 23,Folio 24,Folio 25,Sous-série,Série,Sous-sous-série,Article,Microfilm MI,Date début,Date fin
0,Archives,1,"Acart, sieur","De la Rochelle. Beau-frère de M. de Chaulnes, ...",4,255,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702
1,Archives,1,"Achille, le frère","Supérieur de l'hôpital de l'Île de Ré, est rec...",4,85,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702
2,Archives,1,"Affaneur, sieur, de Conteneuille",Sera compris au rôle des tailles de l'élection...,12,313,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,55,11,1705,1705
3,Archives,1,Agoust,Il n'est pas nécessaire d'envoyer à Toulon le ...,9,59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705,1705
4,Archives,1,"Agoust, sieur","Premier pilote du vaisseau le Saint-Esprit, l'...",8,724,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,51,9,1704,1704

Il faut renomer toutes les colonnes car leurs noms ne sont pas pratique pour restructurer la base

In [5]:
xlclean(personnes)
xlclean(bateaux)
xlclean(affaires)

,masque,page,nom,contenu,tome,f1,f2,f3,f4,f5,...,f23,f24,f25,sserie,serie,ssserie,atl,mf,dateD,dateF
0,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",9,295,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-01-01
1,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",11,733,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-01-01
2,Archives,239,Acadie,"Le Roi compte y envoyer un vaisseau, 1703.",5,64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-01-01
3,Archives,239,Acadie,Bégon reçoit 10000 livres à compte des envois ...,5,94,95.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-01-01
4,Archives,239,Acadie,"La flûte le Profond est rendu en Acadie, accom...",5,123,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-01-01

## Creation d'une base de données vide

In [6]:
db_run = sqlite3.connect("tome2.db")
c = db_run.cursor()

Maintenant il faut créer l'archicture de la base relationelle pour la remplir avec le contenu des dataframes personnes, bateaux et affaires