In [1]:
from functions import *

In [2]:
pwd

'/Users/Theo/dev/projet_ardouin/xl2sql'

In [3]:
ls -all

total 120
drwxr-xr-x   7 Theo  staff    224 Jun 10 12:02 ./
drwxr-xr-x  11 Theo  staff    352 Jun 10 08:40 ../
drwxr-xr-x   3 Theo  staff     96 Jun  9 11:49 .ipynb_checkpoints/
drwxr-xr-x   3 Theo  staff     96 Jun 10 12:00 __pycache__/
-rw-r--r--   1 Theo  staff   1170 Jun 10 11:44 functions.py
-rw-r--r--   1 Theo  staff  12288 Jun 10 12:02 tome2.db
-rw-r--r--   1 Theo  staff  43289 Jun 10 12:02 transformation.ipynb

In [4]:
rm tome2.db

In [5]:
ls -all

total 96
drwxr-xr-x   6 Theo  staff    192 Jun 10 12:02 ./
drwxr-xr-x  11 Theo  staff    352 Jun 10 08:40 ../
drwxr-xr-x   3 Theo  staff     96 Jun  9 11:49 .ipynb_checkpoints/
drwxr-xr-x   3 Theo  staff     96 Jun 10 12:00 __pycache__/
-rw-r--r--   1 Theo  staff   1170 Jun 10 11:44 functions.py
-rw-r--r--   1 Theo  staff  43289 Jun 10 12:02 transformation.ipynb

## Importation des fiches excel concernées

In [6]:
personnes = xlopen('1701-1705 Personnes')
bateaux = xlopen('1701-1705 Bateaux')
affaires = xlopen('1701-1705 Affaires diverses')

In [7]:
personnes

,Masque de saisie,Page Ardouin,Intitulé / analyse\nNom lieu\nNom personne\nAffaires diverses,Présentation du contenu,Ancienne cote\nN° de TOME,Folio 1,Folio 2,Folio 3,Folio 4,Folio 5,...,Folio 23,Folio 24,Folio 25,Sous-série,Série,Sous-sous-série,Article,Microfilm MI,Date début,Date fin
0,Archives,1,"Acart, sieur","De la Rochelle. Beau-frère de M. de Chaulnes, ...",4,255,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702
1,Archives,1,"Achille, le frère","Supérieur de l'hôpital de l'Île de Ré, est rec...",4,85,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702
2,Archives,1,"Affaneur, sieur, de Conteneuille",Sera compris au rôle des tailles de l'élection...,12,313,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,55,11,1705,1705
3,Archives,1,Agoust,Il n'est pas nécessaire d'envoyer à Toulon le ...,9,59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705,1705
4,Archives,1,"Agoust, sieur","Premier pilote du vaisseau le Saint-Esprit, l'...",8,724,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,51,9,1704,1704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000,Archives,201,"Wesenaghen, Jean",Evaluation de ses biens.,2,305,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,45,7,1702,1702
3001,Archives,201,Yon,Amène 4 étalons pour les haras de la généralité.,11,753,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,54,11,1705,1705
3002,Archives,201,"Yvon, Paul",Seigneur de Laleur (L'abbé de Chastellières al...,4,13,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702
3003,Archives,201,"Yvon, Paul",Touche les revenus du prieuré du Plomb.,4,285,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702
3004,Archives,201,"Zell, duc de",Propriétaire de la terre d'Olbreuse.,4,201,204.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702

Il faut renomer toutes les colonnes car leurs noms ne sont pas pratique pour restructurer la base

In [8]:
xlclean(personnes)
xlclean(bateaux)
xlclean(affaires)

,masque,page,nom,contenu,tome,f1,f2,f3,f4,f5,...,f23,f24,f25,sserie,serie,ssserie,atl,mf,dateD,dateF
0,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",9,295,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
1,Archives,239,"Académie des Sciences, l'","Demande que dans les voyages au long cours, le...",11,733,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31
2,Archives,239,Acadie,"Le Roi compte y envoyer un vaisseau, 1703.",5,64,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
3,Archives,239,Acadie,Bégon reçoit 10000 livres à compte des envois ...,5,94,95.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
4,Archives,239,Acadie,"La flûte le Profond est rendu en Acadie, accom...",5,123,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703-01-01,1703-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Archives,306,Vivres,Le munitionnaire commence à payer ses dettes e...,8,21,47.0,69.0,79.0,81.0,...,NaN,NaN,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31
963,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",8,214,247.0,260.0,281.0,304.0,...,NaN,NaN,NaN,1,E,NaN,51,9,1704-01-01,1704-12-31
964,Archives,306,Vivres,"Mauvaise qualité des vins de Bordeaux, en 1704.",9,13,31.0,62.0,63.0,68.0,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
965,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,9,296,379.0,492.0,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705-01-01,1705-12-31
966,Archives,306,Vivres,Arrêt pour la décharge du droit de boucherie s...,11,65,67.0,69.0,171.0,300.0,...,NaN,NaN,NaN,1,E,NaN,54,11,1705-01-01,1705-12-31

Maintenant il faut créer l'archicture de la base relationelle pour la remplir avec le contenu des dataframes personnes, bateaux et affaires. La première étape est créer une table qu'avec les noms propres qui indique son idéntifiant et le type de noms que ils sont (personne, bateau ou affaire). Il faut donc faire une nouvelle dataframe:

In [14]:
#noms = pd.concat(personnes,bateaux,affaires)

## Creation d'une base de données vide

In [9]:
db_run = sqlite3.connect("tome2.db")
c = db_run.cursor()

In [10]:
# Personnes
c.execute(
    """
    CREATE TABLE personnes (
        masque TEXT NOT NULL ,
        page INTEGER NOT NULL,
        nom TEXT NOT NULL,
        contenu TEXT,
        tome INTEGER,
        f1 INTEGER,
        f2 INTEGER,
        f3 INTEGER,
        f4 INTEGER,
        f5 INTEGER,
        f6 INTEGER,
        f7 INTEGER,
        f8 INTEGER,
        f9 INTEGER,
        f10 INTEGER,
        f11 INTEGER,
        f12 INTEGER,
        f13 INTEGER,
        f14 INTEGER,
        f15 INTEGER,
        f16 INTEGER,
        f17 INTEGER,
        f18 INTEGER,
        f19 INTEGER,
        f20 INTEGER,
        f21 INTEGER,
        f22 INTEGER,
        f23 INTEGER,
        f24 INTEGER,
        f25 INTEGER,
        sserie TEXT,
        serie TEXT,
        ssserie TEXT, 
        atl TEXT,
        mf INTEGER,
        dateD DATE,
        dateF DATE,
        PRIMARY KEY(nom,contenu,page,atl,f1),
        FOREIGN KEY(mf) REFERENCES microfilm(mf),
        FOREIGN KEY(page) REFERENCES pages(page)
        );
     """
)

In [11]:
personnes.to_sql('personnes', db_run, if_exists='append', index=False)

3005

In [12]:
db_run.close()