In [11]:
import pandas as pd
import xlrd
import sqlite3

In [12]:
cd ~/dev/projet_ardouin/xl2sql

/Users/Theo/dev/projet_ardouin/xl2sql

In [13]:
personnes = pd.read_excel(
    '~/dev/projet_ardouin/Ardouin La Totale.xls', 
    sheet_name='1701-1705 Personnes',
    header=0)

bateaux = pd.read_excel(
    '~/dev/projet_ardouin/Ardouin La Totale.xls', 
    sheet_name='1701-1705 Bateaux',
    header=0)

affaires = pd.read_excel(
    '~/dev/projet_ardouin/Ardouin La Totale.xls', 
    sheet_name='1701-1705 Affaires diverses',
    header=0)

In [22]:
db_run = sqlite3.connect("tome2.db")
c = db_run.cursor()

In [23]:
personnes.head()

,Masque de saisie,Page Ardouin,Intitulé / analyse\nNom lieu\nNom personne\nAffaires diverses,Présentation du contenu,Ancienne cote\nN° de TOME,Folio 1,Folio 2,Folio 3,Folio 4,Folio 5,...,Folio 23,Folio 24,Folio 25,Sous-série,Série,Sous-sous-série,Article,Microfilm MI,Date début,Date fin
0,Archives,1,"Acart, sieur","De la Rochelle. Beau-frère de M. de Chaulnes, ...",4,255,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702
1,Archives,1,"Achille, le frère","Supérieur de l'hôpital de l'Île de Ré, est rec...",4,85,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,47,7,1702,1702
2,Archives,1,"Affaneur, sieur, de Conteneuille",Sera compris au rôle des tailles de l'élection...,12,313,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,55,11,1705,1705
3,Archives,1,Agoust,Il n'est pas nécessaire d'envoyer à Toulon le ...,9,59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705,1705
4,Archives,1,"Agoust, sieur","Premier pilote du vaisseau le Saint-Esprit, l'...",8,724,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,51,9,1704,1704

Il faut renomer toutes les colonnes car leurs noms ne sont pas pratique pour restructurer la base

In [27]:
personnes.rename(columns = {'Masque de saisie':'masque', 'Page Ardouin':'page', 
                            'Intitulé / analyse\nNom lieu\nNom personne\nAffaires diverses':'nom', 'Présentation du contenu':'contenu',
                            'Ancienne cote\nN° de TOME':'tome', 'Sous-série':'sserie',
                            'Série':'serie', 'Sous-sous-série':'ssserie',
                            'Article':'atl', 'Microfilm MI':'mf',
                            'Date début':'dateD', 'Date fin':'dateF',},inplace=True)

bateaux.rename(columns = {'Masque de saisie':'masque', 'Page Ardouin':'page', 
                            'Intitulé / analyse\nNom lieu\nNom personne\nAffaires diverses':'nom', 'Présentation du contenu':'contenu',
                            'Ancienne cote\nN° de TOME':'tome', 'Sous-série':'sserie',
                            'Série':'serie', 'Sous-sous-série':'ssserie',
                            'Article':'atl', 'Microfilm MI':'mf',
                            'Date début':'dateD', 'Date fin':'dateF',},inplace=True)

affaires.rename(columns = {'Masque de saisie':'masque', 'Page Ardouin':'page', 
                            'Intitulé / analyse\nNom lieu\nNom personne\nAffaires diverses':'nom', 'Présentation du contenu':'contenu',
                            'Ancienne cote\nN° de TOME':'tome', 'Sous-série':'sserie',
                            'Série':'serie', 'Sous-sous-série':'ssserie',
                            'Article':'atl', 'Microfilm MI':'mf',
                            'Date début':'dateD', 'Date fin':'dateF',},inplace=True)

In [29]:
bateaux

,masque,page,nom,contenu,tome,Folio 1,Folio 2,Folio 3,Folio 4,Folio 5,...,Folio 23,Folio 24,Folio 25,sserie,serie,ssserie,atl,mf,dateD,dateF
0,Archives,202,"Africain, le vaisseau l'",NaN,5,80,273.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703,1703
1,Archives,202,"Africain, le vaisseau l'",Mis dans la nouvelle forme.,5,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703,1703
2,Archives,202,"Africain, le vaisseau l'",Mis dans la nouvelle forme.,8,458,505.0,555.0,586.0,647.0,...,NaN,NaN,NaN,1,E,NaN,51,9,1704,1704
3,Archives,202,"Africain, le vaisseau l'",Mis dans la nouvelle forme.,9,484,579.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705,1705
4,Archives,202,"Africain, le vaisseau l'",Mis dans la nouvelle forme.,11,38,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,54,11,1705,1705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,Archives,238,"Zéripzée, le vaisseau le",Demande à charger sa chaloupe.,5,26,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703,1703
684,Archives,238,"Zéripzée, le vaisseau le",Accident arrivé à ce vaisseau.,5,97,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,48,8,1703,1703
685,Archives,238,"Zéripzée, le vaisseau le",Accident arrivé à ce vaisseau.,8,155,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,51,9,1704,1704
686,Archives,238,"Zéripzée, le vaisseau le","Vendu à Porto-Bello pour 12762 livres, ne pouv...",8,701,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,51,9,1704,1704
687,Archives,238,"Zéripzée, le vaisseau le",Les matelots de ce vaisseu ont été levés d'aut...,9,4,498.0,617.0,NaN,NaN,...,NaN,NaN,NaN,1,E,NaN,52,10,1705,1705