In [1]:
from functions2 import *
from collections import Counter

In [2]:
latotale = pd.read_csv('latotale.tsv',sep="\t", header=0) 
onglet1 = pd.read_excel('~/dev/projet_ardouin/sources/sources_excel/Ardouin en 1 onglet.xls', header=0)

In [3]:
onglet1=onglet1.drop_duplicates(subset=['Intitulé / analyse\nNom lieu\nNom personne\nAffaires diverses'])
onglet1 = onglet1.rename(columns={'Intitulé / analyse\nNom lieu\nNom personne\nAffaires diverses': 'unittitle' })

In [4]:
onglet1 = onglet1[['unittitle']]

In [5]:
onglet1=onglet1.dropna(how='any')

In [6]:
onglet1 = onglet1.drop_duplicates(subset=['unittitle'], keep='first')

In [7]:
onglet1.to_csv('onglet1.tsv', sep="\t", index=False)

In [8]:
latotale = pd.read_csv('latotale.tsv', sep="\t", header=0)
onglet1 = pd.read_csv('onglet1.tsv', sep="\t", header=0)

In [9]:
del latotale['function']

In [10]:
diff = pd.concat([latotale,onglet1], join='inner').drop_duplicates(keep=False)

In [11]:
diff

                                unittitle
4159                 Bapaume, Peufier dit
4598                          Durand,Jean
4601                  Duranteau,la nommée
4603   Durivaud (Alias Du Rivau,Du Rivaux
4608                       Duroulet,Delle
...                                   ...
11524                 Villette, madame de
11525                    Volivert, Thomas
11526                         Volvire, de
11527                        Vouillay, de
11528                  Vozain, Olivier de

[4896 rows x 1 columns]

In [12]:
better_diff = pd.merge(onglet1, latotale, how='left')

In [13]:
better_diff

                      unittitle
0                      Argenton
1                        Arnoul
2            Banville, Sieur de
3      Baroire, le président de
4         Baugier, Edmé-Antoine
...                         ...
12471              Vivier Paul
12472               Vogt Martin
12473     Volage, la frégate la
12474         Weltmuller, André
12475      Zimmerman Bolloramus

[12476 rows x 1 columns]

In [14]:
new_diff = pd.DataFrame(list(
    (Counter(map(tuple, latotale.values)) -
     Counter(map(tuple, better_diff.values))).keys()
), columns=['unittitle'])

In [15]:
new_diff = new_diff.dropna()

In [16]:
new_diff.to_csv('diff.tsv', sep="\t", index=False)