# Verification préliminaire avant de faire une classification par sujet (personne, affaire, bateaux)

In [1]:
import pandas as pd
from fuzzywuzzy import process, fuzz
import matplotlib.pyplot as plt

In [2]:
latotale = pd.read_csv('latotale.tsv',sep="\t")
del latotale['function']
latotale_list = list(latotale['unittitle'])

In [3]:
onglet1 = pd.read_csv('onglet1.tsv', sep="\t")
onglet1_list = list(onglet1['unittitle'])

In [4]:
diff = pd.read_csv('diff.tsv',sep="\t")
diff_list = list(diff['unittitle'])

In [5]:
diff

                               unittitle
0                   Bapaume, Peufier dit
1                            Durand,Jean
2                    Duranteau,la nommée
3     Durivaud (Alias Du Rivau,Du Rivaux
4                         Duroulet,Delle
...                                  ...
1644                         Latremblade
1645                          Lupin,fort
1646                          Madame île
1647                Martinique,île de la
1648                          Officiers.

[1649 rows x 1 columns]

In [6]:
def Normaliser1():
    diff_unittitles = []
    similarity = []
    
    for i in diff.unittitle:
        ratio = process.extract(i , onglet1.unittitle, limit=1)
        diff_unittitles.append(ratio[0][0])
        similarity.append(ratio[0][1])
        
    
    diff['word'] = pd.Series(diff_unittitles)
    diff['ratio'] = pd.Series(similarity)
    
    return(diff)

In [7]:
%time Normaliser1()

CPU times: user 14min 7s, sys: 4.05 s, total: 14min 11s
Wall time: 14min 17s

,unittitle,word,ratio
0,"Bapaume, Peufier dit","Pommery, Gabriel dit La Champignère",86
1,"Durand,Jean","Durand, Jean",96
2,"Duranteau,la nommée","Duranteau, la nommée",97
3,"Durivaud (Alias Du Rivau,Du Rivaux",Durivaud,90
4,"Duroulet,Delle","Duroulet, Demoiselle",82
...,...,...,...
1644,Latremblade,La Tremblade,96
1645,"Lupin,fort","Lupin, fort",95
1646,Madame île,"Madame, île",95
1647,"Martinique,île de la","Martinique, île de la",97
1648,Officiers.,Officiers,100

In [8]:
diff.to_csv('matched_corpus.tsv', sep="\t", index=False)