# Verification préliminaire avant de faire une classification par sujet (personne, affaire, bateaux)

In [2]:
import pandas as pd
from fuzzywuzzy import process, fuzz
import matplotlib.pyplot as plt

In [3]:
latotale = pd.read_csv('latotale.csv')
del latotale['function']
latotale_list = list(latotale['unittitle'])

In [4]:
onglet1 = pd.read_csv('onglet1.csv')
onglet1_list = list(onglet1['unittitle'])

In [5]:
diff = pd.read_csv('diff.csv')
diff_list = list(diff['unittitle'])

In [5]:
def Normaliser1():
    diff_unittitles = []
    similarity = []
    
    for i in diff.unittitle:
        ratio = process.extract(i , onglet1.unittitle, limit=1)
        diff_unittitles.append(ratio[0][0])
        similarity.append(ratio[0][1])
        
    
    diff['word'] = pd.Series(diff_unittitles)
    diff['ratio'] = pd.Series(similarity)
    
    return(diff)

In [6]:
%time Normaliser1()

CPU times: user 44min 1s, sys: 6.26 s, total: 44min 7s
Wall time: 44min 17s

,unittitle,word,ratio
0,"Bapaume, Peufier dit","Pommery, Gabriel dit La Champignère",86
1,"Durand,Jean","Durand, Jean",96
2,"Duranteau,la nommée","Duranteau, la nommée",97
3,"Durivaud (Alias Du Rivau,Du Rivaux",Durivaud,90
4,"Duroulet,Delle","Duroulet, Demoiselle",82
...,...,...,...
4891,"Villette, madame de","Villette, madame de",100
4892,"Volivert, Thomas","Volivert, Thomas",100
4893,"Volvire, de","Volvire, de",100
4894,"Vouillay, de","Vouillay, de",100
4895,"Vozain, Olivier de","Vozain, Olivier de",100

In [9]:
diff.to_csv('matched_corpus.csv', index=False)

In [6]:
diff2 = pd.read_csv('diff2.csv')

In [11]:
def Normaliser2():
    diff_unittitles = []
    similarity = []
    
    for i in diff2.unittitle:
        ratio = process.extract(i , onglet1.unittitle, limit=1)
        diff_unittitles.append(ratio[0][0])
        similarity.append(ratio[0][1])
        
    
    diff2['word'] = pd.Series(diff_unittitles)
    diff2['ratio'] = pd.Series(similarity)
    
    return(diff2)

In [12]:
%time Normaliser2()

CPU times: user 44min 58s, sys: 6.11 s, total: 45min 4s
Wall time: 48min 29s

,unittitle,word,ratio
0,"Edits et ordonnances, Saint-Germain-en-Laye, 1...","Edits et ordonnances, Saint-Germain-en-Laye, 1...",100
1,"Edits et ordonnances, Saint-Germain-en-Laye, 1...","Edits et ordonnances, Saint-Germain-en-Laye, 1...",100
2,"Edits et ordonnances, Saint-Germain-en-Laye, 1...","Edits et ordonnances, Saint-Germain-en-Laye, 1...",100
3,"Edits et ordonnances, Saint-Germain-en-Laye, 1...","Edits et ordonnances, Saint-Germain-en-Laye, 1...",100
4,"Edits et ordonnances, Saint-Germain-en-Laye, 2...","Edits et ordonnances, Saint-Germain-en-Laye, 2...",100
...,...,...,...
4891,Latremblade,La Tremblade,96
4892,"Lupin,fort","Lupin, fort",95
4893,Madame île,"Madame, île",95
4894,"Martinique,île de la","Martinique, île de la",97
4895,Officiers.,Officiers,100

In [13]:
diff2.to_csv('matched_corpus2.csv', index=False)